@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Simple Login and Registration</h1>
</div>

<div class="row">
    <div class="col-12 col-md-6 col-lg-5 offset-lg-1">
        <partial name="RegistrationPartial"></partial>
    </div>
    <div class="col-12 col-md-6 col-lg-5 offset-lg-1">
        <partial name="LoginPartial"></partial>
    </div>
</div>

